@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-info">My Personal Project To Learn ASP.NET Core & Entity Framework Core</h1>
    <p>This application is used to keep track of what chapter I am currently reading in a book.</p>
</div>
